.home-wrapper {
  display: flex; /* Exibe os elementos filhos em linha */
  flex-direction: column; /* Exibe os elementos filhos em coluna */
  justify-content: center; /* Centraliza o conteúdo verticalmente */
  align-items: center; /* Centraliza o conteúdo horizontalmente */
  flex-grow: 1; /* Faz com que o elemento ocupe o espaço restante */
}

.home-container {
  display: flex; /* Exibe os elementos filhos em linha */
  flex-direction: column; /* Exibe os elementos filhos em coluna */
  justify-content: center; /* Centraliza o conteúdo verticalmente */
  align-items: center; /* Centraliza o conteúdo horizontalmente */
  flex-grow: 1; /* Faz com que o elemento ocupe todo o espaço disponível */
}


.home-title {
  color: #333; /* Defina a cor do texto conforme necessário */
  font-size: 24px; /* Defina o tamanho da fonte conforme necessário */
  margin-bottom: 20px; /* Adicione margem inferior conforme necessário */
}

.tasks-container {
  display: flex; /* Display flex para posicionar os cards em linha */
  flex-wrap: wrap; /* Permitir que os cards quebrem linha se necessário */
  justify-content: flex-start; /* Alinhamento inicial dos cards na linha */
  gap: 20px; /* Espaçamento entre os cards */
}
